/* banner styles */
/* Linking to Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Biotif:wght@400;700&display=swap');

/* Applying the font */
body {
  font-family: 'Biotif', sans-serif;
}

/* `sm` applies to x-small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
}

@media (min-width: 1020px) and (max-width: 1199.98px) {
}
/* 
// `lg` applies to medium devices (tablets, less than 992px) */
@media (min-width: 768.98px) and (max-width: 1020px) {
}

@media (min-width: 1020px) and (max-width: 1199.98px) {
}

@media (min-width: 1200px) and (max-width: 1399.98px) {
  .footer-container {
    width: 1300px;
    height: 427px;
    background-color: #212529;
    border: 1px solid black;
    padding-left: 0;
  }

  .footer-section1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 1.3px solid #4d4d4d;
    width: 1300px;
    /* margin-left: 0; */
    height: 200px;
    padding-top: 2em;
  }

  .footer-text-container {
    width: 250px;
    height: 30px;
    /* border: 1px solid white; */
    /* margin-top: 20px; */
  }

  .footer-heading {
    /* //styleName: text/20; */
    font-family: 'Biotif', sans-serif;
    font-size: 18px;
    font-weight: 600px;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: center;
    color: #ffffff;
  }

  .footer-text {
    font-family: 'Biotif', sans-serif;
    font-size: 12.5px;
    font-weight: 450;
    line-height: 21px;
    letter-spacing: 0em;
    word-spacing: 0.1em;
    text-align: center;
    color: #ffffff;
    /* border: 1px solid wheat; */
    margin-top: 9px;
  }

  .footer-icon-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 320px;
    height: 55px;
    align-items: center;
    /* border: 1px solid wheat; */
    /* margin-top: 23px; */
  }

  .ios-android-container {
    width: 125px;
    height: 40px;
    background-color: #212529;

    border: 1.5px solid #ffffff;
    border-radius: 8px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-right: 5px;
  }

  .ios-icon {
    width: 30px;
    height: 23px;
    color: #ffffff;
    margin-bottom: 4px;
    margin-left: 6px;
    /* border: 1px solid saddlebrown; */
    /* margin-left: 2px; */
  }

  .android-icon {
    width: 30px;
    height: 24px;
    color: #ffffff;
    /* margin-bottom: px; */
    margin-left: 8px;
  }

  .icon-text-container {
    /* border: 1px solid white; */
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90px;
  }

  .icon-text {
    width: 108px;
    height: 0.1px;
    font-family: 'Biotif', sans-serif;
    font-size: 11px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0em;
    color: #ffffff;
    text-align: center;
  }

  .icon-title {
    width: 74px;
    height: 21px;
    font-family: 'Biotif', sans-serif;
    font-size: 13px;
    font-weight: 500;
    line-height: 21px;
    letter-spacing: 0em;
    color: #ffffff;
    align-self: center;
    /* border: 1px solid blanchedalmond; */
    text-align: center;
  }

  .footer-section2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    /* border: 1px solid white; */
    padding-left: 2em;
  }

  .sec1 {
    width: 221px;
    height: 111px;
    /* border: 1px solid white; */
    height: 223px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .footer-logo-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    /* border: 1px solid blanchedalmond; */
    width: 130px;
    padding-top: 2.5em;
  }

  .footer-logo {
    width: 33px;
    height: 33px;
  }

  .footer-huazit {
    font-family: 'Biotif', sans-serif;
    font-size: 23px;
    font-weight: 550;
    line-height: 41px;
    letter-spacing: 0em;
    padding-top: 7px;

    color: #ffffff;
  }

  .footer-vector-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    /* border: 1px solid blanchedalmond; */
    margin-top: 1.5em;
    width: 190px;
  }

  .footer-copyright-icon {
    color: #ffffff;
    width: 14.5px;
    height: 14.5px;
  }

  .footer-copyright-text {
    width: 201px;
    height: 10px;
    font-family: 'Biotif', sans-serif;
    font-size: 12px;
    font-weight: 450;
    line-height: 18px;
    letter-spacing: 0em;
    color: #ffffff;
    text-align: center;
    padding-top: 5px;
  }

  .secT {
    display: flex;
    flex-direction: row;
    /* align-items: center; */
    justify-content: space-between;
    /* border: 1px solid white; */
    width: 800px;
    /* margin-left: 1em; */
    /* padding-left: 1em; */
  }

  .sec2 {
    width: 89px;
    height: 178px;
    /* border: 1px solid white; */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }

  .footer-list-title {
    width: 57px;
    height: 12px;
    font-family: 'Biotif', sans-serif;
    font-size: 13.5px;
    font-weight: 550;
    line-height: 22px;
    letter-spacing: 0em;
    color: #ffffff;
    margin-bottom: 2em;
    /* border: 1px solid white; */
  }

  .footer-list-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 130px;
    /* border: 1px solid white; */
    margin-bottom: 1em;
    justify-content: space-between;
  }

  .footer-list-container2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 100px;
    /* border: 1px solid white; */
    margin-bottom: 2.5em;
    justify-content: space-between;
  }

  .footer-list-text {
    font-family: 'Biotif', sans-serif;
    font-size: 12px;
    font-weight: 450;
    line-height: 20px;
    letter-spacing: 0em;
    color: #ffffff;
    margin: 0;
  }

  .sec5 {
    width: 210px;
    height: 62.09px;
    /* border: 1px solid white; */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
  }

  .footer-list-title2 {
    width: 120px;
    height: 12px;
    font-family: 'Biotif', sans-serif;
    font-size: 13.5px;
    font-weight: 550;
    line-height: 22px;
    letter-spacing: 0em;
    color: #ffffff;
    margin-bottom: 2em;
    /* border: 1px solid white; */
  }

  .social-icons {
    /* border: 1px solid white; */
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    width: 180px;
  }

  .twitter-icon {
    width: 23px;
    height: 20px;
    color: #ffffff;
  }

  .youtube-icon {
    width: 23px;
    height: 25px;
    color: #ffffff;
  }

  .insta-icon {
    width: 22px;
    height: 22px;
    color: #ffffff;
  }

  .tikto-icon {
    width: 20px;
    height: 18px;
    color: #ffffff;
  }

  .linken-icon {
    width: 24px;
    height: 21px;
    color: #ffffff;
    border-radius: 9px;
  }
}
